/* This defines the overall conditions for the website screen height and wdth, along with allowing the scrolling to nbe enabled vertically but not horizontally */
body {
  max-width: 100vw;
  max-height: 100vh;
  margin: 0;
  overflow: hidden;
}

/* The core grid is established which containes the navigation bar and the main container  */

#index {
display: grid;
grid-template-columns: 1fr 7fr;
grid-template-rows: 1fr 5fr;
max-width: 100vw;
max-height: 100vh;
}

/*  sets the color and size of nav container */
nav {
  max-width: 100%;
  background-color: #671E75;
  height: 100vh;
}

/*  styles and positions the logo */
nav > img {
  display: grid;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  max-width: 150px;
  margin: auto;
  padding-top: 10px;
}

/*  styles and positions the heading */
nav > h1 {
  display: grid;
  grid-column: 1 / 2;
  grid-row: 2 / 3;
    /* rorates and repositions the heading */
  transform: rotate(-90deg) translateX(-50%);
  max-height: 100%;
  font-size: 32px;
    /*  prevents the heading from going onto two lines */
  white-space: nowrap;
  margin-left: -60px;
  margin-right: -60px;
}

/* Specifies the grid for the main container  */
#index main {
  display: grid;
  grid-column: 2 / 3;
  grid-row: 1 / 3;
  max-height: 100vh;
  max-width: 100vw;
  grid-template-rows: 1fr;
}

/* Positions and resizes the oncampus image */
#oncampus {
  display: grid;
  grid-row: 1 / 2;
  grid-column: 1;
    width: 100%;
    height: 100vh;
  clip-path: polygon(0% 0%, 100% 0%, 0% 100%); /* Designs the container for the image - Top Left Right angle triangle*/
}

/* Positions and resizes the offcampus image */
#offcampus {
  display: grid;
  grid-row: 1 / 2;
  grid-column: 1;
    width: 100%;
    height: 100vh;
  clip-path: polygon(0% 100%, 100% 100%, 100% 0%);/* Designs the container for the image - Bottom Right Right angle triangle*/
}

/* Styles the image to open with greyscale filter applied */
#oncampus img {
  height: 100%;
  width: 120%;
  filter: grayscale(100%);
}

#offcampus img {
  height: 100%;
  width: 115%;
  filter: grayscale(100%);
}

/* Styles the image for when it is hovered on there is no longer a filter applied */
#oncampus:hover img {
  filter: none;
}

#offcampus:hover img {
  filter: none;
}

/*Styles the text on the images */
#oncampus p {
  position: absolute;
  font-size: 50px;
  color: #671E75;
  top: 55%;
  left: 20%;
  transform: rotate(-28deg);
}

/*The pieces of text had to be styled seperately as they had to positioned individually*/
#offcampus p {
  position: absolute;
  font-size: 50px;
  color: #671E75;
  left: 75%;
  top: 15%;
  transform: rotate(-28deg);
}

/* on hover, the text turns black to indicate they are clickable */
#oncampus:hover p{
  opacity: 100%;
  font-weight: bold;
  color: black;
}

#offcampus:hover p{
  opacity: 100%;
  font-weight: bold;
  color: black;
}

/* Code for RESPONSIVENESS */

@media only screen and (max-width: 900px) {
  /* For tablet: */
  #index {
  display: grid;
  grid-template-columns: 15% 85%;
  grid-template-rows: 1fr 5fr;
  max-width: 100vw;
  max-height: 100vh;
  }

  nav > img {
    display: grid;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    max-width: 90%;
    margin: auto;
    padding-top: 10px;
  }

  nav > h1 {
    display: grid;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    transform: rotate(-90deg) translateX(-210px);
    max-height: 100%;
    font-size: 32px;
    white-space: nowrap;
    margin-left: -60px;
    margin-right: -60px;
  }

  #oncampus p {
    position: absolute;
    font-size: 50px;
    color: #671E75;
    left: 20%;
    top: 50%;
    transform: rotate(-40deg);
  }

  #offcampus p {
    position: absolute;
    font-size: 50px;
    color: #671E75;
    left: 60%;
    top: 25%;
    transform: rotate(-45deg);
  }

}



@media only screen and (max-width: 700px) {
  /* For mobile phones: */

  #index {
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: 1fr 5fr;
  max-width: 100vw;
  max-height: 100vh;
  }

  nav > img {
    display: grid;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    max-width: 90%;
    margin: auto;
    padding-top: 10px;
  }

  nav > h1 {
    display: grid;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    transform: rotate(-90deg) translateX(-220px);
    max-height: 100%;
    font-size: 32px;
    white-space: nowrap;
    margin-left: -60px;
    margin-right: -60px;
  }

  /* Due to screen dimensions on a mobile device, layout of the homepage had to be changed.
  This code changes the images from their angled positioning, to them being vertical from
  one another */
  #index main {
    display: grid;
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    max-height: 100vh;
    max-width: 100vw;
    grid-template-rows: 1fr 1fr;
  }

  #oncampus {
    display: grid;
    grid-row: 1 / 2;
      width: 100%;
      height: 100%;
      clip-path: none; /*Had to be removed in order to make the images sit on top of one another */
  }

  #offcampus {
    display: grid;
    grid-row: 2 / 3;
      width: 100%;
      height: 100%;
      clip-path: none;
  }

  #oncampus p {
    position: absolute;
    font-size: 50px;
    color: #671E75;
    left: 60%;
    top: 15%;
    transform: rotate(-28deg);
  }

  #offcampus p {
    position: absolute;
    font-size: 50px;
    color: #671E75;
    left: 60%;
    top: 65%;
    transform: rotate(-28deg);
  }

}
